In [6]:
import plotly as py

In [7]:
py.tools.set_credentials_file(username='rosiecakes', api_key='d0hicgnrer')

In [10]:
import cufflinks as cf

In [11]:
import pandas as pd

In [13]:
cf.set_config_file(offline=False, world_readable=True, theme='pearl')

In [14]:
dataframe = pd.read_csv('http://www.stat.ubc.ca/~jenny/notOcto/STAT545A/examples/gapminder/data/gapminderDataFiveYear.txt', sep='\t')

In [15]:
print(dataframe[0:5])

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [16]:
df2007 = dataframe[dataframe.year==2007]

In [18]:
print(df2007[0:3])

        country  year         pop continent  lifeExp    gdpPercap
11  Afghanistan  2007  31889923.0      Asia   43.828   974.580338
23      Albania  2007   3600523.0    Europe   76.423  5937.029526
35      Algeria  2007  33333216.0    Africa   72.301  6223.367465

In [22]:
dataframe.head(5)

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [25]:
df2007.iplot(kind='bubble', x='gdpPercap', y='lifeExp', size='pop', text='country',
             xTitle='GDP per Capita', yTitle='Life Expectancy')